<footer role="contentinfo" class="footer">
  <p><small>津ICP备18006844号-1</small></p>>
  <p><small>chouheiwa © {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
